theme: jekyll-theme-minimal
title: Polaritonics Lab
description: page under construction

# remote_theme: pages-themes/midnight@v0.2.0
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "contrast"

name: "Polaritonics Lab"

plugins:
- jekyll-remote-theme # add this line to the plugins list if you already have one
- jekyll-include-cache

include:
  - _pages

author:
  name: "Daniel Gomez"  
  links: 
     - label: "ORCiD"
       icon: "fab fa-fw fa-orcid"
       url: "https://orcid.org/0000-0002-7871-4068"

footer:
  links: 
     - label: "ORCiD"
       icon: "fab fa-fw fa-orcid"
       url: "https://orcid.org/0000-0002-7871-4068"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/       